<h1>Forgot Your Password?</h1>
<p>
    That was silly! Nevermind please enter the email address you used to register and we will email you instructions to reset your password.
</p>
<%= form_for @hacker_session, :as => :hacker_session, :url => forgot_password_url do |f| %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.submit "Submit" %>
<% end %>